* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1, h2{
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    color: #fff;
}

h2 {
    font-size: 2rem;
}

a {
    color: #88c0d0;
}

a:hover {
    color: #fff;
}
img {
    width: 500px;
}